/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Georgia, "細明體",times, serif;
	font-size: 20px;
	font-weight: lighter;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 40px;
	font-family: Helvetica, arial, sans-serif;
	font-weight: bolder;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

p {
	
}

/* Logo CSS*/
#logo {
	text-align: center;
	background: black;
}

/* Header CSS */
#header {
	background: green;
}

#header a {
	text-decoration: none;
	color: white;
	padding: 15px;
	display: inline-block;
}

#header ul {
	display: inline;
	margin: 0;
	padding: 0;
}
#header ul li {display: inline-block;}
#header ul li:hover {background:  #555;}
#header ul li:hover ul {display:block;}
#header ul li ul {
	background: #555;
	position: absolute;
	max-width: 300px;
	display: none;
}
#header ul li ul li {
	background: #555;
	display: block;
}
#header ul li ul li a {
	display: block !important;
}

#header ul li ul li a:hover {
	background: #666;
}

#bucks li a::before {
	content: url("images/house-bucks-mini.png");
	margin: 0 10px 0 0;
}
#lion li a::before {
	content: url("images/house-lion-mini.png");
	margin: 0 10px 0 0;
}
#wolf li a::before {
	content: url("images/house-wolf-mini.png");
	margin: 0 10px 0 0;
}
#dragon li a::before {
	content: url("images/house-dragon-mini.png");
	margin: 0 10px 0 0;
}
#rose li a::before {
	content: url("images/house-rose-mini.png");
	margin: 0 10px 0 0;
}
#eagle li a::before {
	content: url("images/house-eagle-mini.png");
	margin: 0 10px 0 0;
}

#wolf a:hover {
	color: red;
}

/* Body Main1 CSS*/
#main-1 {
	width: 20%;
	min-width: 150px;
	border: solid 1px red;
	float: left;
}

#menu {
	background: green;
	max-width: 100%;
	width: 130px;
	display: block;
	border: 1px solid black;
	margin: 20px auto;
}

#menu a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 15px;
}
#menu ul {
	margin: 0;
	padding: 0;
	max-width: 300px;
}
#menu ul li {
	display: inline-block;
}
#menu ul li:hover {background: #555;}
#menu ul li:hover ul {display: inline-block;}
.list {
	float: left;
}
#menu ul li ul {
	position: absolute;
	max-width: 300px;
	display: none;
	background: #555;
}

#menu ul li ul li {
	background: #555;
	display: block;
}
#menu ul li ul li:hover {
	background: #666;
}
#menu ul li ul li a {
	display: block !important;
}
#menu ul li ul li a:hover {
	background: #666;
}

/* Body Main2-Table1 CSS*/
#main-2 {
	width: 80%;
	min-width: 480px;
	border: solid 2px red;
	float: left;
}

#main-2 h2 {
	margin: 20px;
	padding: 10px;
	font-style: italic;
}

#table-1 {
	margin: 20px;
}

#table-1 #row-1 {
	border-top: solid 1px blue;
}

@media screen and (max-width:719px) {
	#main-2 #table-1 .row .column-1{
		border-left: solid 1px blue;
		border-right: solid 1px blue;
		border-bottom: solid 1px blue;
		float: left;
		width: 30%;
		min-width: 80px;
		padding: 10px;
	}
	#main-2 #table-1 .row .column-2{
		display: none;
	}
	#main-2 #table-1 .row .column-3{
		display: none;
	}
	#main-2 #table-1 .row .column-4{
		border-right: solid 1px blue;
		border-bottom: solid 1px blue;
		float: left;
		width: 70%;
		min-width: 280px;
		padding: 10px;
	}
}

@media screen and (max-width:1079px) and (min-width:720px) {
	#main-2 #table-1 .row .column-1{
		border-left: solid 1px blue;
		border-right: solid 1px blue;
		border-bottom: solid 1px blue;
		float: left;
		width: 20%;
		padding: 10px;
	}
	#main-2 #table-1 .row .column-2{
		border-right: solid 1px blue;
		border-bottom: solid 1px blue;
		float: left;
		width: 30%;
		padding: 10px;
	}
	#main-2 #table-1 .row .column-3{
		display: none;
	}
	#main-2 #table-1 .row .column-4{
		border-right: solid 1px blue;
		border-bottom: solid 1px blue;
		float: left;
		width: 50%;
		padding: 10px;
	}
}

@media screen and (min-width:1080px) {
	#main-2 #table-1 .row .column-1{
		border-left: solid 1px blue;
		border-right: solid 1px blue;
		border-bottom: solid 1px blue;
		float: left;
		width: 10%;
		padding: 10px;
	}
	#main-2 #table-1 .row .column-2{
		border-right: solid 1px blue;
		border-bottom: solid 1px blue;
		float: left;
		width: 20%;
		padding: 10px;
	}
	#main-2 #table-1 .row .column-3{
		border-right: solid 1px blue;
		border-bottom: solid 1px blue;
		float: left;
		width: 30%;
		padding: 10px;
	}
	#main-2 #table-1 .row .column-4{
		border-right: solid 1px blue;
		border-bottom: solid 1px blue;
		float: left;
		width: 40%;
		padding: 10px;
	}
}

#table-1::after {
	content: "";
	clear: both;
	display: block;
}

/* Body Main2-Table2 CSS*/
#table-2 {
	margin: 20px;
}

@media screen and (max-width:719px) {
	#main-2 #table-2 .row {
		margin: 20px 0;
	}
	#main-2 #table-2 .row .column-1 {
		width: 100%;
		float: left;
		padding: 10px;
		border-top: solid 1px green;
		border-left: solid 1px green;
		border-right: solid 1px green;
	}
	#main-2 #table-2 .row .column-2 {
		width: 100%;
		float: left;
		padding: 10px;
		border-left: solid 1px green;
		border-right: solid 1px green;
	}
	#main-2 #table-2 .row .column-3 {
		width: 100%;
		float: left;
		padding: 10px;
		border-left: solid 1px green;
		border-right: solid 1px green;
	}
	#main-2 #table-2 .row .column-4 {
		width: 100%;
		float: left;
		padding: 10px;
		border-left: solid 1px green;
		border-right: solid 1px green;
		border-bottom: solid 1px green;
	}
	#main-2 #table-2 .row::after {
		content: "";
		clear: both;
		display: block;
	}
}

@media screen and (min-width:720px) and (max-width:1079px) {
	#main-2 #table-2 .row {
		margin: 20px 0;
	}
	#main-2 #table-2 .row .column-1 {
		width: 50%;
		float: left;
		padding: 10px;
		border-top: solid 1px green;
		border-left: solid 1px green;
	}
	#main-2 #table-2 .row .column-2 {
		width: 50%;
		float: left;
		padding: 10px;
		border-top: solid 1px green;
		border-right: solid 1px green;
	}
	#main-2 #table-2 .row .column-3 {
		width: 50%;
		float: left;
		padding: 10px;
		border-left: solid 1px green;
		border-bottom: solid 1px green;
	}
	#main-2 #table-2 .row .column-4 {
		width: 50%;
		float: left;
		padding: 10px;
		border-right: solid 1px green;
		border-bottom: solid 1px green;
	}
	#main-2 #table-2 .row::after {
		content: "";
		clear: both;
		display: block;
	}
	
}

@media screen and (min-width:1080px) {
	#table-2 #row-1 {
		border-top: solid 1px green;
	}
	#main-2 #table-2 .row .column-1{
		border-left: solid 1px green;
		border-right: solid 1px green;
		border-bottom: solid 1px green;
		float: left;
		width: 10%;
		padding: 10px;
	}
	#main-2 #table-2 .row .column-2{
		border-right: solid 1px green;
		border-bottom: solid 1px green;
		float: left;
		width: 20%;
		padding: 10px;
	}
	#main-2 #table-2 .row .column-3{
		border-right: solid 1px green;
		border-bottom: solid 1px green;
		float: left;
		width: 30%;
		padding: 10px;
	}
	#main-2 #table-2 .row .column-4{
		border-right: solid 1px green;
		border-bottom: solid 1px green;
		float: left;
		width: 40%;
		padding: 10px;
	}
} 
#table-2::after {
	content: "";
	clear: both;
	display: block;
}
