/* Reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Georgia, times, serif;
	font-size: 20px;
	font-weight: lighter;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 40px;
	font-family: Helvetica, arial, sans-serif;
	font-weight: bolder;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

p {
	
}

/* Logo CSS*/
#logo {
	text-align: center;
	background: black;
}

/* Header CSS */
#header {
	background: green;
}

#header a {
	text-decoration: none;
	color: white;
	padding: 15px;
	display: inline-block;
}

#header ul {
	display: inline;
	margin: 0;
	padding: 0;
}
#header ul li {display: inline-block;}
#header ul li:hover {background:  #555;}
#header ul li:hover ul {display:block;}
#header ul li ul {
	background: #555;
	position: absolute;
	max-width: 300px;
	display: none;
}
#header ul li ul li {
	background: #555;
	display: block;
}
#header ul li ul li a {
	display: block !important;
}

#header ul li ul li a:hover {
	background: #666;
}

#bucks li a::before {
	content: url("images/house-bucks-mini.png");
	margin: 0 10px 0 0;
}
#lion li a::before {
	content: url("images/house-lion-mini.png");
	margin: 0 10px 0 0;
}
#wolf li a::before {
	content: url("images/house-wolf-mini.png");
	margin: 0 10px 0 0;
}
#dragon li a::before {
	content: url("images/house-dragon-mini.png");
	margin: 0 10px 0 0;
}
#rose li a::before {
	content: url("images/house-rose-mini.png");
	margin: 0 10px 0 0;
}
#eagle li a::before {
	content: url("images/house-eagle-mini.png");
	margin: 0 10px 0 0;
}

#wolf a:hover {
	color: red;
}

/* Body Main1 CSS*/
#main-1 {
	width: 25vw;
}

#menu {
	background: green;
	max-width: 15vw;
	min-width: 120px;
	margin: 5vw;
	display: inline-block;
	border: 
}

#menu a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 15px;
}
#menu ul {
	margin: 0;
	padding: 0;
	max-width: 300px;
}
#menu ul li {
	display: inline-block;
}
#menu ul li:hover {background: #555;}
#menu ul li:hover ul {display: inline-block;}
.list {
	float: left;
}
#menu ul li ul {
	position: absolute;
	max-width: 300px;
	display: none;
	background: #555;
}

#menu ul li ul li {
	background: #555;
	display: block;
}
#menu ul li ul li:hover {
	background: #666;
}
#menu ul li ul li a {
	display: block !important;
}
#menu ul li ul li a:hover {
	background: #666;
}
/* Body Main2 CSS*/
#main-2 {
	max-width: 75vw;
	border: solid 2px red;
}